<div class="main">
    <h1>Simple CRUD App in EmberJS</h1>
    <hr>
    <div class="container">
      {{outlet}}
    </div>
    <br><br>
    <div class="container">
      <hr>
      <p>Based on "An In-Depth Introduction to EmberJS" at smashingmagazine.com</p>
    </div>
</div>